<div class="container body-content">

    <h1> Order History <span class="badge badge-info">{{orders.length}}</span></h1>
    <div class="container order-list">
        <div class="card order-details" *ngFor="let order of orders">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-1">
                        <h3>#{{order.id}}</h3>
                    </div>
                    <div class="col-md-8">
                        <h4>{{order.description}}</h4>
                    </div>
                    <div class="col-md-3">
                        <h3><b>${{order.totalPrice | number : '.2-2'}}</b></h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let orderProduct of order.products">
                                    <td>{{orderProduct.name}}</td>
                                    <td>{{orderProduct.price}}</td>
                                    <td>{{orderProduct.quantity}}</td>
                                    <td>{{orderProduct.price * orderProduct.quantity | number : '.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; {{year}} - BrainWare, Inc</p>
    </footer>
</div>